*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main{
	position: relative;
	height: 100vh;
	width: 100%;
}

#h1{
	font-size:12px;
	color:grey
}

#h2{
	padding-left:400px;
}
.main header{
	position: relative;
	height: 15vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: white;
	background-size: cover;
	background-position: center center;
	font-size: 1.5rem;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.main header .iconShopping{
	cursor: pointer;
	z-index: 1;
	position: relative;
	font-size: 1.8rem;
}
.main header .iconShopping p{
	position: absolute;
	top: -5px;
	right: -12px;
	font-size: 0.69rem;
	background-color: #FF8181;
	padding: 3px 5px;
	border-radius: 50%;
}
.fa-shopping-cart{
	color:black;
}

.h1{
	
	color:black;
	text-align:center;
}
/*items*/
.main .itemsBox{
	position: relative;
	height: calc(100% - 15vh);
	width: 90%;
	margin:0 auto;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	padding: 50px 25px;
}
.main .itemsBox .item{
	position: relative;
	height: 400px;
	width: 100%;
	overflow: hidden;
	padding: 10px 25px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.main .itemsBox .item img{
	position: relative;
	width: 100%;
	height: 60%;
	object-fit: contain;
}
.main .itemsBox .item h1{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
}
.main .itemsBox .item p{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
	color: #017bf5;
}
.main .itemsBox .item a{
	position: relative;
	text-align: left;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
	background: #0f0f0f;
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.main .itemsBox .item a:hover{
	background: #0f0f0fa5;
}

/*cart box*/
.cartBox{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	transition: 0.3s linear;
	transform: scale(0);
}
.cartBox.active{
	transform: scale(1);
}
.cartBox .cart{
	position: relative;
	height: 70%;
	width: 80%;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartBox .cart i{
	position: absolute;
	right: 0;
	top: 0;
	background:#f00;
	padding:10px 15px;
	color: #fff;
	cursor: pointer;
}
.cartBox .cart i:hover{
	background: #ff0000a5;
}
.cartBox .cart h1{
	position: relative;
	margin-top: 2%;
	font-size: 2.4rem;
	color: black;
	text-align:center
}

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* delete button */
button {
  background-color: #D06F6F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/*  */
.card-panel{
	color:#FF3F3F;
}

.shared{
	background-color:#E3E3E3 ;
	border-radius:5%;
}
#button{
	background-color:#FFA821;
	width:50%;
	text-align:center;
	border-radius:5%;
	
}

.fa-tags{
	color:red;
}

.elementor-heading-title{
	color:red;
}